*{
    margin: 0px;
    padding: 0px;
}

.navigation{
height: 70px;
background-color: rgb(124, 46, 46);
display: flex;
justify-content: space-between;
align-items: center;
}

.content{
    height: 80px;
    background-color: rgba(28, 28, 104, 0.774);
}

.footer{
    height: 60px;
    background-color: rgb(33, 94, 33);
}